{% extends 'base.html' %}
{% block title %}Productos{% endblock %}
{% block content %}
<h1>Productos</h1>
<div style="margin-bottom:1rem;">
  <a href="{% url 'producto_create' %}" class="btn">Nuevo producto</a>
  <a href="{% url 'inventario_dashboard' %}" class="btn">Volver al Inventario</a>
</div>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Categoría</th>
      <th>Unidad</th>
      <th>Activo</th>
      <th>Stock</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  {% for p in productos %}
    <tr>
      <td>{{ p.nombre }}</td>
      <td>{{ p.categoria }}</td>
      <td>{{ p.unidad_medida }}</td>
      <td>{{ p.activo|yesno:"Sí,No" }}</td>
      <td>{{ p.stock }}</td>
      <td>
        <a href="{% url 'producto_update' p.pk %}">Editar</a> |
        <a href="{% url 'producto_delete' p.pk %}">Eliminar</a>
      </td>
    </tr>
  {% empty %}
    <tr><td colspan="6">No hay productos.</td></tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}